.shop-bg-bg {
  background-image: url("../../images/The\ Prince\ of\ Merewether.png");
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.bg h3 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 900;
}
.bg p {
  font-size: 1rem;
  color: #d8972e;
  font-weight: 800;
}

.shop-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  height: auto;
}
.shop-img {
  width: 25rem;
  height: 15rem;
  overflow: hidden;
  background-position: center;
  transition: 400ms;
}

.shop-img img {
  width: 25rem;
  height: 15rem;
  transition: 400ms;
  border-radius: 0.5rem;
}
.shop-img img:hover {
  transform: scale(1.8) rotate(10deg);
}
.shop-info h4 {
  font-size: 1.5rem;
  font-weight: 900;
}
.shop-stars {
  font-size: 1.2rem;
  color: #d8972e;
}
.shop-button a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-family: "Playball", cursive;
  transition: 400ms;
}
.shop-button a:hover span {
  display: none;
}
.shop-button a:hover::after {
  content: "Add to Cart";
  font-size: 1.2rem;
  padding: 2rem;
}
.btn-b {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: relative;
  width: 12rem;
  height: 3rem;
  background: #424242;
  color: #ea9f41;
  margin-top: 20px;
  cursor: pointer;
  padding: 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn-a:hover {
  background: #d8972e;
  color: #fff;
}
