@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Lobster+Two:ital,wght@0,400;0,700;1,700&family=Playball&display=swap");

.carousel-img {
  background: linear-gradient(to bottom, rgba(37, 34, 34, 0.5), #020c1b),
    url("../../images/slider1.jpeg");
  height: 50vh;
  width: 100vw;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow-y: hidden;
}

.carousel-img img {
  height: 100%;
  width: 100%;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
}
.text h5 {
  color: #b95205;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  font-weight: 700;
}
.text p {
  color: #ffff;
  text-transform: lowercase;
  font-weight: 800;
  text-align: center;
}
.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  text-align: center;
  background: #b95205;
  border-radius: 10rem;
}
.button-text h6 {
  color: #ffff;
  font-weight: 900;
}
.button-text a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.2rem;
}
.link-one {
  text-decoration: none;
}
.link-one:hover {
  text-decoration: none;
}

.high-rise {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: #020c1b;
  z-index: -1;
}
.rhino {
  height: 1.5rem;
  z-index: -1;
}
.rhino img {
  opacity: 0.3;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}
.content,
h5,
p {
  text-align: center;
  color: #fff;
}
.content p {
  color: #fff;
}

.content h4 {
  margin-top: 10rem;
  color: #ea9f41;
  font-family: "Lobster Two", cursive;
}
.blue-container {
  background: linear-gradient(to top, rgba(3, 3, 3, 0.5), #020c1b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.opening {
  text-align: center;
}
.opening h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #fff;
}
.opening h5 {
  font-family: "Playball", cursive;
  color: #ea9f41;
  font-size: 1.5rem;
}
.days {
  text-align: center;
}
.number {
  text-align: center;
  transition: 400ms;
  color: #ea9f41;
  cursor: pointer;
}

.number:hover {
  color: #fff;
  transform: scale(1.2);
}
.monday h3 {
  color: #b95205;
  font-size: 1.5rem;
}
.monday h4 {
  color: #fff;
}
.weekends h3 {
  color: #b95205;
  font-size: 1.5rem;
}
.weekends h4 {
  color: #fff;
}
#Restaurant h3 {
  text-align: center;
  color: #b95205;
  font-family: "Playball", cursive;
  font-size: 2rem;
}
.restorans-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.translate {
  width: 30rem;
  margin-bottom: 0.2rem;
  overflow: hidden;
}
.translate img {
  border-radius: 0.9rem;
  width: 100%;
  height: 100%;
}
.burger-container {
  background: linear-gradient(to bottom, rgba(37, 34, 34, 0.5), #b95205);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.burger-page {
  width: 45%;
  overflow-y: hidden;
}
.burger-page img {
  animation: rotation 13s infinite linear;
  width: 40rem;
  height: 40rem;
}

.burger-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
}
.burger-text h3 {
  font-family: "Playball", cursive;
  font-size: 3rem;
  overflow-y: hidden;
  color: #b95205;
}
.burger-text p {
  text-align: start;
  color: #ffff;
}

.riviera p {
  color: #000;
}
#deals {
  position: relative;
  max-width: 100%;
  background-image: url("../../images/Free.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffff;
  overflow-y: hidden;
}
#deals::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 100%;
  left: 0px;
  background: linear-gradient(-50deg, rgba(0, 0, 0, 0.7) 4px, transparent 0px),
    linear-gradient(50deg, rgba(0, 0, 0, 0.7) 4px, transparent 0px);
  background-size: 10px 10px;
  background-repeat: repeat-x;
}

.explanation {
  text-align: center;
}
.explanation h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}
.explanation h5 {
  font-family: "Playball", cursive;
  color: #ea9f41;
}

.overlay {
  position: absolute;
  width: 100%;
  background: #000;
  opacity: 0.4;
  z-index: -1;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu img {
  border-radius: 50%;
  margin: 0.5rem;
}
.menu img:hover {
  border-radius: 30%;
}

.menu-items h4 span {
  color: #b95205;
  font-family: "Playball", cursive;
  font-size: 1.3rem;
  border-bottom: 1px dotted #ea9f41;
}
.menu-items h4 {
  border-bottom: 2px dotted #ea9f41;
}

.menu-items p {
  color: #fff;
}
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.reserve h5 {
  text-align: center;
  color: #ea9f41;
  font-size: 1.5rem;
  font-family: "Playball", cursive;
  margin-left: 4rem;
}

.team-def2 {
  text-align: center;
  color: #616161;
}
.team-def h5,
p {
  color: #000;
}
.team-def h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Playball", cursive;
  overflow-y: hidden;
}

.individual-chefs {
  outline: 2px solix #b95205;
}

.img-one {
  background-position: center;
  background-size: cover;
}
.chefs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.individual-chefs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  transition: 400ms ease-in-out;
  box-shadow: 0px 8px 30px #424242;
  margin: 1rem;
  border-radius: 0.2rem 2rem 0.2rem 4rem;
  border: 2px solid #b95205;
}
.individual-chef-img {
  height: 10rem;
  width: 10rem;
  overflow-y: hidden;
}
.individual-chef-img img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transition: 400ms;
}
.individual-chef-img img:hover {
  transform: scale(1.2);
}

.chef {
  text-align: center;
}
.chef h3 {
  font-family: "Playball", cursive;
}
.chef h4 {
  font-size: 1rem;
  color: #ea9f41;
}
#testimonials {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(37, 34, 34, 0.5), #020c1b),
    url("../../images/vector3.jpeg");
  z-index: 10;
  overflow-y: hidden;
}

.test-header {
  text-align: center;
  color: #fff;
}
.test-header h3 {
  font-size: 2rem;
}
.test-header h4 {
  color: #b95205;
  font-family: "Playball", cursive;
}
.icons {
  color: #fff;
  text-align: center;
}

.review-box-img {
  display: flex;
  justify-content: center;
  background-position: centers;
  background-size: cover;
  background-repeat: no-repeat;
}
.review-box-img img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.reveiw-box-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reveiw-box-name h3 {
  color: #fff;
}
.reveiw-box-name h4 {
  color: #b95205;
  font-family: "Playball", cursive;
}

.comment p {
  color: #fff;
  text-align: center;
}
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ea9f41;
  font-size: 1.5rem;
}
.quote {
  height: 5rem;
  width: 5rem;
  color: #ea9f41;
  background: transparent;
  border: #b95205 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 400ms;
}
.quote:hover {
  background: #616161;
}
.sized {
  width: 100wh;
  height: 90vh;
}
.sized img {
  height: 100%;
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  .burger-container {
    background: linear-gradient(to bottom, rgba(37, 34, 34, 0.5), #3f2715),
      url("../../images/slider1.jpeg");
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .burger-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
  }
  .burger-page img {
    width: 80%;
    height: 85%;
  }
  .burger-text {
    width: 100%;
  }
  .burger-text p {
    text-align: center;
    color: #ffff;
  }
  .burger-text h3 {
    color: #ffff;
  }
  .text {
    width: 90%;
    overflow-x: hidden;
  }

  .individual-chefs {
    width: 90%;
  }
  .translate {
    width: 95%;
  }
}
