@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Lobster+Two:ital,wght@0,400;0,700;1,700&family=Playball&display=swap");

.carousel-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  overflow-y: hidden;
}
.carousel-img img {
  height: 100%;
  width: 100%;
}
.text {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
}
.text h5 {
  color: #b95205;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  font-weight: 700;
}
.text p {
  color: #ffff;
  text-transform: lowercase;
  font-weight: 800;
  text-align: center;
}
.button-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  text-align: center;
  background: #b95205;
  border-radius: 10rem;
}
.button-text h6 {
  color: #ffff;
  font-weight: 900;
}
.button-text a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.2rem;
}
.link-one {
  text-decoration: none;
}
.link-one:hover {
  text-decoration: none;
}

.high-rise {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background: #020c1b;
  z-index: -1;
}
.rhino {
  height: 1.5rem;
  z-index: -1;
}
.rhino img {
  opacity: 0.3;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}
.content,
h5,
p {
  text-align: center;
  color: #fff;
}
.content p {
  color: #fff;
}

.content h4 {
  margin-top: 10rem;
  color: #ea9f41;
  font-family: "Lobster Two", cursive;
}
.operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #616161;
  border: 4px dotted #b95205;
  overflow-y: hidden;
}

.opening {
  text-align: center;
}
.opening h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #fff;
}
.opening h5 {
  font-family: "Playball", cursive;
  color: #ea9f41;
  font-size: 1.5rem;
}
.days {
  text-align: center;
}
.number {
  text-align: center;
  transition: 400ms;
  color: #ea9f41;
  cursor: pointer;
}

.number:hover {
  color: #fff;
  transform: scale(1.2);
}
.monday h3 {
  color: #b95205;
  font-size: 1.5rem;
}
.monday h4 {
  color: #fff;
}
.weekends h3 {
  color: #b95205;
  font-size: 1.5rem;
}
.weekends h4 {
  color: #fff;
}

.restorans {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restorans p {
  color: #616161;
}
.restorans h5 {
  text-align: center;
  color: #000;
}
.restorans h4 {
  text-align: center;
  font-family: "Playball", cursive;
  color: #ea9f41;
  font-size: 2rem;
  font-weight: 900;
  overflow-y: hidden;
}
.restorans-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.translate {
  transition: 400ms;
  padding: 0.5rem;
}

.riviera p {
  color: #000;
}
#deals {
  position: relative;
  max-width: 100%;
  background-image: url("../../images/Free.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffff;
  overflow-y: hidden;
}
#deals::after {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 100%;
  left: 0px;
  background: linear-gradient(-50deg, rgba(0, 0, 0, 0.7) 4px, transparent 0px),
    linear-gradient(50deg, rgba(0, 0, 0, 0.7) 4px, transparent 0px);
  background-size: 10px 10px;
  background-repeat: repeat-x;
}

.explanation {
  text-align: center;
}
.explanation h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}
.explanation h5 {
  font-family: "Playball", cursive;
  color: #ea9f41;
}

.overlay {
  position: absolute;
  width: 100%;
  background: #000;
  opacity: 0.4;
  z-index: -1;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu img {
  border-radius: 50%;
  margin: 0.5rem;
}
.menu img:hover {
  border-radius: 30%;
}

.menu-items h4 span {
  color: #b95205;
  font-family: "Playball", cursive;
  font-size: 1.3rem;
  border-bottom: 1px dotted #ea9f41;
}
.menu-items h4 {
  border-bottom: 2px dotted #ea9f41;
}

.menu-items p {
  color: #fff;
}
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.reserve h5 {
  text-align: center;
  color: #ea9f41;
  font-size: 1.5rem;
  font-family: "Playball", cursive;
  margin-left: 4rem;
}

.team-def2 {
  text-align: center;
  color: #616161;
}
.team-def h5,
p {
  color: #000;
}
.team-def h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Playball", cursive;
  overflow-y: hidden;
}

.individual-chefs {
  outline: 2px solix #b95205;
}

.img-one {
  background-position: center;
  background-size: cover;
}
.chefs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.individual-chefs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 20rem;
  transition: 400ms ease-in-out;
  box-shadow: 0px 8px 30px #424242;
  margin: 1rem;
  border-radius: 0.2rem;
}
.individual-chef-img {
  height: 10rem;
  width: 10rem;
  overflow-y: hidden;
}
.individual-chef-img img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transition: 400ms;
}
.individual-chef-img img:hover {
  transform: scale(1.2);
}

.chef {
  text-align: center;
}
.chef h3 {
  font-family: "Playball", cursive;
}
.chef h4 {
  font-size: 1rem;
  color: #ea9f41;
}
#testimonials {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../images/vector3.jpeg");
  z-index: 10;
  overflow-y: hidden;
}

.test-header {
  text-align: center;
  color: #fff;
}
.test-header h3 {
  font-size: 2rem;
}
.test-header h4 {
  color: #b95205;
  font-family: "Playball", cursive;
}
.icons {
  color: #fff;
  text-align: center;
}

.review-box-img {
  display: flex;
  justify-content: center;
  background-position: centers;
  background-size: cover;
  background-repeat: no-repeat;
}
.review-box-img img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.reveiw-box-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reveiw-box-name h3 {
  color: #fff;
}
.reveiw-box-name h4 {
  color: #b95205;
  font-family: "Playball", cursive;
}
.comment {
  height: 10rem;
}
.comment p {
  color: #fff;
  text-align: center;
}
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ea9f41;
  font-size: 1.5rem;
}
.quote {
  height: 5rem;
  width: 5rem;
  color: #ea9f41;
  background: transparent;
  border: #b95205 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 400ms;
}
.quote:hover {
  background: #616161;
}
.sized {
  width: 100wh;
  height: 90vh;
}
.sized img {
  height: 100%;
  width: 100%;
}
