.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f57f17;
}

.img {
}
.link {
  text-decoration: none;
  color: #020c1b;
  transition: 8ms;
}
.link:hover {
  color: #fff;
}

#active {
  background: #b95205;
  color: #fff;
  border-radius: 0.5rem;
}
