.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: #ffff;
}
.color li {
  color: #b95205;
  font-weight: 800;
  font-size: 1.2rem;
}
.img {
  padding: 2rem;
  margin-top: -2rem;
  overflow-y: hidden;
}
.img img {
  width: 10rem;
  margin-left: -1rem;
  margin-top: -1.1rem;
}
.img h4 {
  font-size: 1rem;
  margin-top: -4rem;
}

.link {
  text-decoration: none;
  color: #020c1b;
  transition: 8ms;
}
.link:hover {
  color: #fff;
}

#active {
  background: #b95205;
  color: #fff;
  border-radius: 0.5rem;
}
.link-one {
  color: #ffff;
  text-decoration: none;
}
.link-one:hover {
  color: #ffff;
}
