.find-card {
  background: #020c1b;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.first-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-card h4 {
  color: #ffff;
  font-family: "Playball", cursive;
}
.first-card h5 {
  color: #ffff;
}
.find-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.find-social h4 {
  color: #ffff;
  font-family: "Playball", cursive;
}
.find-social p {
  color: #ffff;
  text-align: center;
}
.find-social span {
  color: #b95205;
}
.social-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-one a {
  color: #ffff;
  margin: 0.5rem;
  transition: 400ms ease-in-out;
}
.social-one a:hover {
  color: #b95205;
  transform: scale(1.2);
}
.find-reserv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.find-reserv h4 {
  font-family: "Playball", cursive;
  color: #ffff;
}
