#about-us {
  background: #424242;
  height: 60vh;
  margin-bottom: -60rem;
}

.hill-one {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}
.tweet {
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tweet h3 {
  color: #fff;
  font-weight: 900;
}
.tweet p {
  color: #ea9f41;
}
.tweet span {
  color: #fff;
}
.tweet-icon {
  color: #b95205;
  font-size: 2rem;
  transition: 400ms;
}
.tweet-icon:hover {
  color: #ea9f41;
  transform: scale(1.2);
}
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social h3 {
  color: #ea9f41;
  font-weight: 600;
}
.social-a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  color: #fff;
  padding: 2rems;
}

.face {
  transition: 400ms;
}
.face:hover {
  transform: scale(2);
  color: #b95205;
}
.form {
  width: 25rem;
}
.form h3 {
  color: #ea9f41;
  font-weight: 600;
}
.form form input {
  background: #f7f7f7;
  color: #070707;
  font-weight: 600;
  width: 20rem;
  height: 3rem;
  border-radius: 0.2rem;
}
.last {
  margin-top: 4rem;
}
.last h4 {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  transition: 400ms;
  cursor: progress;
}
.last h4:hover {
  color: #b95205;
  transform: scaleX(1.2);
  text-decoration: underline;
}
